body {
  -webkit-font-smoothing: antialiased;
}

.header {
  color: white;
  height: 55vh;
  position: relative;
}

.header .angle {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: skewY(-8deg);
  transform-origin: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 8vh;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  width: 90%;
}

.navbar .logo {
  font-family: 'Supermercado One', cursive;
  margin: 0;
  float: left;
}

.hero-info {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: calc(100% - 8vh);
  position: relative;
  width: 100%;
}

.info-container {
  height: 75%;
  margin: 0 auto;
  width: 90%;
}

.title {
  margin: 0;
  font-size: 5vh;
}

.subtitle {
  font-size: 2.7vh;
  font-weight: 100;
}

.body {
  color: #333;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  background-color: white;
  border: 0;
  border-radius: 35px;
  color: #2c6de5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* min-height: 2em; */
  padding-left: 1rem;
  padding-right: 1rem;
  transition: .5s ease;
  /* min-width: 6em; */
  margin-right: .5em;
  display: inline-block;
  padding: 10px 15px;
}

.button:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.success {
  background-color: #3ddc97;
  color: white;
}

.ham-menu {
  float: right;
  border: none;
  background-color: inherit;
}

.trio {
  width: 100%;
}

.trio-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: vh; */
  /* max-height: 530px; */
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-bottom: 20px;
}

.trio-info .title {
  margin-top: 10px;
}

.trio-img {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}

.trio-link {
  align-self: left;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  transition: .5s ease;
}

.trio-link:hover {
  transform: translateY(-3px) scale(1.1);
  cursor: pointer;
}

.is-green {
  color: #3ddc97;
}

.is-orange {
  color: #f3c14d;
}

.is-blue {
  color: #70b6f7;
}

.is-purple {
  color: #a448f6;
}

.line-break {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

@media only screen and (min-width: 760px) {
  .ham-menu {
    display: none;
  }
  .trio-link {
    /* position: absolute;
    bottom: 20px; */
  }
}

@media only screen and (min-width: 1000px) {
  .trio-flex {
    flex-direction: row;
  }
  .trio-info {
    min-height: 510px;
  }
}